<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="/css/jumbotron-narrow.css" rel="stylesheet">
<body>

<div class="container">

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">회원 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/account/new">계좌 등록</a>
            <a class="btn btn-lg btn-secondary" href="/account/list">계좌 목록</a>
            <a class="btn btn-lg btn-secondary" href="/transfer/new">계좌 이체</a>
            <a class="btn btn-lg btn-secondary" href="/transfer/list">이체 목록</a>
        </p>
    </div>
</div>

</body>
</html>